<h1>BloomLab Members Wifi Account Management</h1>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this wifi password from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <br>
    <br>
<% end %>

<% if @user.wifi_access? %>
    <% if @user.wifi_password.blank? || @user.errors.any? %>
        <p>Currently, your BloomLab Members wifi account is <b>temporarily inactive</b>, as you have yet to set a wifi password.</p>
        <p>You will need to set a wifi password for your account to be activated.</p>
    <% else %>
        <p>Currently, your BloomLab Members wifi account is <b>enabled</b>.</p>
        <p>Please use the details below to login to the BloomLab Members wifi network.</p>
    <% end %>
<% else %>
    <p>Currently, you do not have a BloomLab Members wifi account.</p>
    <p>This may be due to an issue with your membership status, or because your membership type doesn't give you access to it.</p>
    <p>Check your <%= link_to 'dashboard', dashboard_path %> for more details.</p>
<% end %>

<br><br>

<%= form_tag wifi_path, method: :put do %>
    <div class="field">
      <p><b>Username</b></p>
      <p><%= @user.email %></p>
    </div>

    <br>

    <div class="field">
      <p><b>Password</b></p>
      <%= password_field_tag(:wifi_password, @user.wifi_password, maxlength: 253) %>
      <button onclick="togglePassword(document.getElementById('wifi_password'));return false;">Show password</button>
      <script>
        function togglePassword(elm) {
          if (!elm) {
            return;
          }
          $("<input type='"+(elm.type==="text"?"password":"text")+"'/>").attr({ id: elm.id, name: elm.name, value: elm.value, maxlength: 253 }).insertBefore(elm);
          $(elm).remove();
        }
      </script>
      <p>Password Strength: <span id="strength">Calculating...</span></p>
    </div>

    <br>

    <p>Password Requirements: Must be at least an <span class="strength-level-2">Okay</span> in password security.</p>
    <p><b>Important Note:</b> Your password is stored unencrypted so make sure you don't use a password you use anywhere else.</p>

    <br>

    <% if @user.wifi_password.blank? || @user.errors.any? %>
      <%= submit_tag('Set Password & Activate WiFi') %>
    <% else %>
      <%= submit_tag('Change Password') %>
    <% end %>
<% end %>

<script>
  var zxcvbn_user_inputs = ['<%= @user.firstname.gsub("'", "\'") %>', '<%= @user.lastname.gsub("'", "\'") %>', '<%= @user.email.gsub("'", "\'") %>'];
</script>