<h1>Dashboard</h1>

<% if current_user.staff %>
    <p>
      Showing dashboard for:
      <%= @user.display_name %>
      (<%= @user.email %>)
    </p>
<% end %>

<% if !@current_request.nil? %>
    <% if @current_request.active_membership? %>
        <% if @current_request.has_subscription %>
            Currently subscribed: <%= @current_request.stripe_subscription.plan %>
            <%= link_to "Cancel subscription", action: 'cancel_subscription', controller: 'membership_payments' %>
        <% else %>
            You are currently a community member.
        <% end %>
    <% else %>
        <% if @current_request.expired? %>
            Your membership has expired! Please reapply.
        <% end %>
    <% end %>
<% end %>

<h2>Active Applications</h2>
<% @user.membership_requests.each do |request| %>
    <% if not request.cancelled? and not request.expired? %>
        <%= link_to "#{request.membership_type.name}##{request.id}", request %> <br>
    <% end %>
<% end %>

<% if @current_request.nil? or not @current_request.has_subscription %>
    <%= button_to "Apply to be a member", new_membership_request_path, :method => "get" %>
<% end %>