<p id="notice"><%= notice %></p>

<p>
  <strong>Signup reason:</strong>
  <%= @user_profile.signup_reason %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user_profile.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @user_profile.nationality %>
</p>

<p>
  <strong>Education status:</strong>
  <%= @user_profile.education_status %>
</p>

<p>
  <strong>University degree:</strong>
  <%= @user_profile.university_degree %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user_id %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
