<p id="notice"><%= notice %></p>

<h1>Listing Membership Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Membership</th>
      <th>Startdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_requests.each do |membership_request| %>
      <tr>
        <td><%= membership_request.user %></td>
        <td><%= membership_request.membership %></td>
        <td><%= membership_request.startdate %></td>
        <td><%= link_to 'Show', membership_request %></td>
        <td><%= link_to 'Edit', edit_membership_request_path(membership_request) %></td>
        <td><%= link_to 'Destroy', membership_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership request', new_membership_request_path %>
