<%= render 'workflow_header' %>

<%= form_tag do %>
    <div class="field">
      <p>Can you tell us a bit more about your startup?</p>
      <% if @bad_startup_info %>
          <div class="flash-error">
            Please include some info about your startup.
          </div>
      <% end %>
      <%= text_area_tag(:info) %>
    </div>

    <%= submit_tag("Continue") %>
<% end %>

<%= render 'workflow_footer' %>