<%= render 'workflow_header' %>

<%= form_tag do %>
    <div class="field">
      <p>Nearly done: the next step is to attend a pitching night.</p>
      <% if @found_event.nil? %>
          <p>Please subscribe to our Facebook page https://facebook.com/BloomPerth to find out the next pitching night
            date.</p>
      <% else %>
          <p>Click attending to the next pitching night here: https://facebook.com/events/<%= @found_event.id %> or
            subscribe to our Facebook page at https://facebook.com/BloomPerth to find the next one</p>
      <% end %>
    </div>

    <%= submit_tag('Continue') %>
<% end %>

<%= render 'workflow_footer' %>