<%= render 'workflow_header' %>

<%= form_tag do %>
    <div class="field">
      <p>Please let us know a few times you’re available for an interview in the two weeks before your expected start date</p>
      <p>We will be in touch to confirm your interview time</p>
      <%= text_area_tag(:interview_book_info) %>
    </div>

    <%= submit_tag('Submit') %>
<% end %>

<%= render 'workflow_footer' %>