<%= render 'workflow_header' %>

<%= form_tag do %>

  <div class="field">
    <p>Can you tell us a bit more about your startup?</p>
    <%= text_area_tag(:info) %>
  </div>

  <div class="field">
    <p>When would you start using Bloom's services?</p>
    <%= date_field_tag(:startdate, Date.today, with_css_classes: true) %>
  </div>

  <%= submit_tag("Continue") %>

<% end %>

<%= render 'workflow_footer' %>