<h1>Please select the booking time slot for the <%= @resource.full_name %></h1>
<div style="width: 100%; overflow: auto; padding-bottom: 1em">
  <% Resource.all.each do |res| %>
      <% if res.name != @resource.name %>
          <div class="booking-button">
            <%= button_to res.full_name, "/booking/#{res.name}/new", method: 'get' %>
          </div>
      <% end %>
  <% end %>
</div>
<p>
  Booking this resource will cost you
  $<%= @pricing_cents %>.00 per hour.
  <% if current_user.nil? or !current_user.has_subscription? %>
      Members can book this resource for $<%= @resource.pricing_cents_member/100 %>.00 per hour.
  <% end %>
</p>
<% if @remainingFreeTime == 1 %>
    You have <%= @remainingFreeTime %> free booking hour left for this week.
<% elsif @remainingFreeTime > 0 %>
    You have <%= @remainingFreeTime %> free booking hours left for this week.
<% end %>
<div id='calendar' data-calendar-id="<%= @resource.google_calendar_id %>"></div>
<%= form_tag({:controller => 'booking', :action => 'pay'}, id: 'form') do -%>
    <input type="hidden" id="stripeToken" name="stripeToken">
    <input type="hidden" id="stripeEmail" name="stripeEmail">
    <input type="hidden" id="timeTo" name="timeTo">
    <input type="hidden" id="timeFrom" name="timeFrom">
    <input type="hidden" id="date" name="date">
    <label for="title">Event title (format: organisation name - event title)</label>
    <input type="text" id="title" name="title" class="field">
    <button id="pay" disabled="disabled">Pay</button>
    <% if !current_user.nil? and current_user.superuser? %>
        <input type="hidden" id="superuser" name="superuser">
        <button id="superuser_book" disabled="disabled">Book free (as super user)</button>
    <% end %>
<% end -%>
<script>
  <% if !current_user.nil? %>
  window.previousEmail = "<%= current_user.email %>";
  <% end %>
  window.roomName = "<%= @resource.full_name %>";
  window.stripeKey = "<%= Rails.configuration.stripe[:publishable_key] %>";
  window.roomPricing = <%= @pricing_cents %>;
  window.remainingFreeTime = <%= @remainingFreeTime %>;
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag 'booking_app.js' %>