<h1>Please select the booking time slot for the <%= @resource.full_name %></h1>
<% if @remainingFreeTime == 1 %>
    You have <%= @remainingFreeTime %> free booking hour left for this week.
<% elsif @remainingFreeTime > 0 %>
    You have <%= @remainingFreeTime %> free booking hours left for this week.
<% end %>
<div id='calendar' data-calendar-id="<%= @resource.google_calendar_id %>"></div>
<%= form_tag({:controller => 'booking', :action => 'pay'}, id: 'form') do -%>
    <input type="hidden" id="stripeToken" name="stripeToken">
    <input type="hidden" id="stripeEmail" name="stripeEmail">
    <input type="hidden" id="timeTo" name="timeTo">
    <input type="hidden" id="timeFrom" name="timeFrom">
    <input type="hidden" id="date" name="date">
    <label for="title">Event title (format: organisation name - event title)</label>
    <input type="text" id="title" name="title" class="field">
    <button id="pay" disabled="disabled">Pay</button>
<% end -%>
<script>
  <% if current_user %>
  window.previousEmail = "<%= current_user.email %>";
  <% end %>
  window.roomName = "<%= @resource.full_name %>";
  window.stripeKey = "<%= Rails.configuration.stripe[:publishable_key] %>";
  window.roomPricing = <%= @resource.pricing_cents %>;
  window.remainingFreeTime = <%= @remainingFreeTime %>;
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag 'booking_app.js' %>