<%= form_for [:admin, @membership_type] do |f| %>
  <% if @membership_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership_type.errors.count, "error") %> prohibited this membership_type from being saved:</h2>

      <ul>
      <% @membership_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% if @membership_type.recurring %>
    <div class="field">
      <%= f.label :price %><br>
      <%= @membership_type.price %> per <%= @membership_type.stripe_plan.interval if @membership_type.stripe_plan %> (configured in stripe)
    </div>
  <% else %>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :stripe_id %><br>
      <%= f.text_field :stripe_id %>
    </div>
  <div class="field">
    <%= f.label :recurring %><br>
    <%= f.check_box :recurring %>
  </div>
  <div class="field">
    <%= f.label :autoapprove %><br>
    <%= f.check_box :autoapprove %>
  </div>
  <div class="field">
    <%= f.label :status_email %><br>
    <%= f.text_field :status_email %>
  </div>
  <div class="field">
    <%= f.label :success_email %><br>
    <%= f.text_field :success_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
