<p id="notice"><%= notice %></p>

<h1>Listing Membership Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Recurring</th>
      <th>Autoapprove</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_types.each do |membership_type| %>
      <tr>
        <td><%= membership_type.name %></td>
        <td><%= membership_type.price %></td>
        <td><%= membership_type.recurring %></td>
        <td><%= membership_type.autoapprove %></td>
        <td><%= link_to 'Show', [:admin, membership_type] %></td>
        <td><%= link_to 'Edit', edit_admin_membership_type_path(membership_type) %></td>
        <td><%= link_to 'Destroy', [:admin, membership_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership type', new_admin_membership_type_path %>
