<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @membership_type.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership_type.price %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @membership_type.recurring %>
</p>

<p>
  <strong>Autoapprove:</strong>
  <%= @membership_type.autoapprove %>
</p>

<p>
  <strong>Stripe ID</strong>:</strong>
  <%= @membership_type.stripe_id %>
</p>

<p>
  <strong>Status email:</strong>
  <%= @membership_type.status_email %>
</p>

<p>
  <strong>Sucess email:</strong>
  <%= @membership_type.success_email %>
</p>

<%= link_to 'Edit', edit_admin_membership_type_path(@membership_type) %> |
<%= link_to 'Back', admin_membership_types_path %>
