<p>
  <strong>User:</strong>
  <%= @membership_request.user.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @membership_request.user.email %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @membership_request.membership_type.name %>
</p>

<p>
  <strong>Application status:</strong>
  <%= @membership_request.workflow_state %>
</p>

<p>
  <strong>Startup info:</strong>
  <%= @membership_request.info %>
</p>

<% if @membership_request.startdate %>
  <p>
    <strong>Start date:</strong>
    <%= @membership_request.startdate.mon %> / <%= @membership_request.startdate.year %>
  </p>
<% end %>

<p>
  <strong>Interview information:</strong>
  <%= @membership_request.interview_book_info %>
</p>

<% if @membership_request.current_state == :cancelled %>
    <p>
      <strong>Cancel reason</strong>
      <%= @membership_request.cancel_reason %>
    </p>
<% end %>

<% if @membership_request.current_state == :pending_decision %>
    <p>
    <%= form_tag({controller: 'admin/membership_requests', action: :update}, :method => 'patch') do %>
        <select name="decision">
          <option>Choose Action</option>
          <option value="reject">Reject</option>
          <option value="accept">Accept</option>
        </select>
        <button type="submit">Submit</button>
    <% end %>
    </p>
<% end %>


<%= link_to 'Back', admin_membership_requests_path %>
