<!DOCTYPE html>
<html>
<head>
  <title>BloomApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag "logo.png" %>
    </a>
    <div class="navigation-tools">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if user_signed_in? %>
            <li class="nav-link"><%= link_to current_user.firstname.titleize, dashboard_user_path(current_user) %></li>
            <li class="nav-link"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li class="nav-link"><%= link_to "Sign Up", new_user_registration_path %></li>
            <li class="nav-link"><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<br>
<div class="bloom-container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <br>
  <% end %>
  <%= yield %>
</div>
<footer>

</footer>
</body>
</html>
